.heading{
    text-align: center;
    font-size: 2.5rem;
    color:#28005f;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.heading span{
    color:orangered;
    text-transform: uppercase;
}

.contact form{
    margin:1rem auto;
    max-width:40rem;
    height:70vh;
    border-radius: .5rem; 
    box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    padding:2rem;
}

.contact form .box{
    /* padding:1rem 1.5rem; */
    width:100%;
    background: none;
    color:#444;
    font-size: 1.6rem;
    text-transform: none;
    margin:1.2rem 0;
    box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    border-radius: .5rem;
}

.contact form textarea{
    height: 7rem;
    resize: none;
}

.contact form .box:focus{
    box-shadow: .4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:0.2rem 2.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color:var(--black);
    box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;;
}

.btn:hover{
    box-shadow: .4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
    color:orangered;
}

@media(max-width:750px){
    .contact form{
        height:80vh;
    }
}